<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 生命周期测试  -->
    <!--配置BeanFactory的后置处理器-->
    <bean id="beanFactoryPostProcessor" class="com.evan.study.life.MyBeanFactoryPostProcessor">
    </bean>

    <!--配置instantiationAwareBeanPostProcessor-->
    <bean id="instantiationAwareBeanPostProcessor" class="com.evan.study.life.MyInstantiationAwareBeanPostProcessor">
    </bean>

    <!--配置Bean的后置处理器-->
    <bean id="beanPostProcessor" class="com.evan.study.life.MyBeanPostProcessor">
    </bean>

    <bean id="studentBean" class="com.evan.study.life.StudentBean" init-method="myInit" destroy-method="myDestroy" scope="singleton">
        <property name="name" value="name"/>
        <property name="age" value="18"/>
    </bean>

    <!--开启这个@PostConstruct才生效-->
    <context:annotation-config />

</beans>